* {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav h1 {
    font-size: 27px;
    font-weight: 700;
    margin-left: 40px;
    color: rgb(63, 61, 61);
    font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    list-style: none;
    text-decoration: none;
    gap: 10px;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.25s;
}

.nav-links a:hover {
    color: grey;
}

.btn-container button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn-container button:hover {
    background-color: rgb(255, 252, 248);
}

.latest-products {
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}

.latestProductsBtnContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.productsBtn {
    background-color: white;
    border: 2px grey solid;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.25s;
}

.productsBtn:hover {
    background-color: rgb(19, 18, 18);
    color: white;
    border: white 2px solid;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.product-item {
    background-color: white;
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.myImages {
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.myImages:hover {
    transform: scale(1.05);
}

.price {

    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ff5733;
}
.button-container {
    display: flex;
    margin-left: 50px;
    gap: 10px;
    width: 100%;
    max-width: 220px;
    margin-top: 10px;
}

.details-btn,
.cart-btn {
    background-color:#4d2a37;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.details-btn:hover,
.cart-btn:hover {
    background-color: #880d30;
}

p {
    margin-top: 20px;
}

h3 {
    margin-top: 15px;
}

.footer {
    background-color: #f1f1f1;
    font: 1em sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer span {
    color: #e02d05;
    font-weight: bold;
    font-size: 20px;
}